.goal-square {
    display: grid; 
    /* text-align: center; */
    font-size: 32px; 
    height: 250px;
    width: 250px;
    color: blue;
    margin: 2rem; 
    background-color: brown;
}

.goal-square:hover{
    border:40px;
    border-color: aqua;
}