.goal-square {
    /* display: grid;  */
    display: flex; 
    flex-direction: row;
    /* text-align: center; */
    font-size: 32px; 
    height: 250px;
    width: 250px;
    color: blue;
    margin: 2rem; 
    background-color: brown;
    flex-wrap: wrap ;

}

.goal-square:hover{
    border-radius:40px;
    border-color:green;
}